.App{
    overflow: auto;
}
h1{
    text-align: center;
}
.Createtask{
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}

.Updatetask{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 5px;

}

.Deletetask{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-top: 5px;

}

