.Taskcards{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 200px;
    border: 1px solid black;
    overflow: auto;
    border-radius: 10px;
}

.Taskcard{
    border: 1px solid black;
    background-color: aqua;
    margin: 20px;
    border-radius: 10px;
    width: fit-content;
}

.priority-tasks{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 250px;
}

.priority1,.priority2,.priority3{
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid black;
    width: fit-content;
    flex: 0.3333;

}

input{
    margin: 10px;
}

